body {
  background: #111;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#screen {
  text-align: center;
  width: 90%;
  max-width: 500px;
}

button {
  padding: 20px;
  font-size: 1.4rem;
  margin-top: 20px;
  width: 100%;
}
